body{
    background-color: #333333;
}

.box{
    width: 250px;
    height: 250px;
    position: relative;
    background-color: white;
    animation-name: myAnimation;
    animation-duration: 5s;
    animation-iteration-count: 3;
    animation-delay:2s ;
    animation-timing-function: ease-out;
    animation-fill-mode:forwards ;
}


/* @keyframes myAnimation{
    0% {background: white;left :0px; top: 0px;border-radius: 0 0 0 0;}
    25% {background: blue;left:300px;top:0px;border-radius: 50% 0 0 0;}
    50% {background: red;left:300px;top: 300px;border-radius: 50% 50% 0 0;}
    75% {background: purple;left:0px;top:300px;border-radius: 50% 50% 50% 0;}
    100% {background: white;left: 0px;top:0px;border-radius: 50% 50% 50% 50%;}
} */

@keyframes myAnimation{
    0% {background: white;border-radius: 0 0 0 0;}
    25% {background: blue;border-radius: 50% 0 0 0;}
    50% {background: red;border-radius: 50% 50% 0 0;}
    75% {background: purple;border-radius: 50% 50% 50% 0;}
    100% {background: white;border-radius: 50% 50% 50% 50%;}
}

