/* 

rotate(angle)
translate(x,y)
translateX(x)
translateY(y)
scale(x,y)
scaleX(x)
scaleY(y)
skew(x-angle,y-angle)
skewX(angle)
skewY(angle)
matrix(scaleX(),skewY(),skewX(),scaleY(),translateX(),translateY())
none
*/

body {
    height: 100vh;
}

.box {
    width: 350px;
    height: 250px;
    background: #333333;
    transform: rotateX(0deg);
    transform-origin: center center;
    transition:transform 1s;
}

.box:hover {
    transform: rotateY(270deg);
}